<main class="p-5">
  <p>Welcome, <b><%= @user.email %></b></p>
  <h1 class="text-4xl mb-12 font-bold">What are you gonna write today?</h1>
  <a href="/write" class="bg-blue-500 text-white rounded p-2 font-bold">New Document</a>
  <h2 class="mt-12 mb-6 text-xl">Recent Documents</h2>
  <ul>
  </ul>
</main>
